#blog-card{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width:350px;
  height:fit-content;
  padding:15px;
  border:2px solid hsl(0, 0%, 42%);
  border-radius: 14px;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

#illustration-image{
  width:100%;
  border-radius: 12px;
}

#title{
  background-color: var(--lightyellow);
  margin-top:20px;
  width:90px;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-family: "Figtree-bold";
}

#publishing-date{
  margin-block: 10px;
  font-family: "Figtree";
}

h1{
  font-family: "Figtree-bold";
  font-size: 25px;
  margin-bottom:10px;
}

#description{
  font-size:0.9em;
  margin-bottom: 14px;
  color:hsl(0, 0%, 42%);
  line-height: 22px;
}

#personnel{
  display:flex;
  align-items: center;
  margin-top:5px;
}

#person-image{
  width: 30px;
}

#person-name{
  margin-left:10px;
  font-family: 'Figtree-bold';
}

.attribution {
  font-size: 11px; text-align: center;
  position: absolute;
  bottom:10px;
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}